
{% load static%}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CraigList</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type = "stext/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Craig List</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
        </div>
      </nav>

<h3>HI its me.</h3>

<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>
